{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">

        <div class="card shadow-sm border-0">
            <div class="card-body">

                <h5 class="mb-3">Invite Agronomist</h5>

                <form method="post">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label>Email</label>
                        {{ form.email }}
                    </div>

                    <div class="d-flex justify-content-between">
                        <a href="{% url 'field-crops' %}" class="btn btn-outline-secondary btn-sm">
                            Cancel
                        </a>

                        <button class="btn btn-success btn-sm">
                            Connect
                        </button>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>
{% endblock %}